body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

*{
    box-sizing: border-box;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb101;
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    height: 200px;
}

#header img{
    height: 250px;
}

#navbar{
    display: flex;
    justify-content:space-evenly;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    height: 100px;
    margin-top: 15px;
    margin-bottom: -40px;
}

.navbar-item{
    list-style: none;
    position: relative;
}

.navbar-item:hover{
    background-color: white;
    border-radius: 12px;
    display: inline-block;
    width: auto;
    height: 40px;
    cursor: pointer;
}

#navbar-item-dropdown{
    display: none;
    position: absolute;
    background-color: #ffb101;
    width: 200px;
    padding: 5px;
    right: 0;
}

#navbar-product:hover #navbar-item-dropdown{
    display: block;
}

#navbar-product{
    position: relative;
}

.navbar-space{
    list-style: none;
    margin-left: 0%;
    margin-right: 0%;
}

a{
    text-decoration: none;
    color: black;
}

#content{
    background-color:white;
}

.slider1{

    padding-left: 50px;

}
.prev1{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next1{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

.slider-outer1 img.prev1{
    margin-top: 189px;
    padding-right: 5px;
    height: 75px;
    width: 65px;
}

.slider-outer1 img.next1{
    margin-top: 199px;
    height: 65px;
    width: 60px;
}

.prev1,.next1{
    float: left;
    cursor: pointer;
    margin-top: 200px;
}


.slider-outer1{
    display: flex;
}

.slider-inner1 img{
    height: 300px;
    padding-top: 100px;
    display: none;
}

.slider-inner1 img.active1{
    display: inline-block;
}

#motor1{
    margin-bottom: 50px;
    display: flex;
    padding-left: 50px;
    width: 100%;
}


ul.motor1des{
    color:black;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 5px;
    background-color:rgb(168, 168, 168);
    margin-left: 185px;
    margin-top: 40px;
    padding-bottom: 40px;
    width: 50%;
}    

a{
    font-weight: bold;
    padding-right: 2px;
}



li{
    padding-top: 3px;
}

.motor1-name{
    font-weight: bold;
    padding-top: 10px;
    padding-left: 230px;
    font-size: 18px;
}        

.harga1{
    color: black;
    font-weight: bold;
    padding-left:180px;
    padding-top: 7px;
    font-size: 18px;

}

.line{
    height: 10px;
    background-color: orange;
    margin-left: 50px;
    margin-right: 50px;
}


#motor2{
    margin-bottom: 50px;
    display: flex;
    padding-left: 100px;
}    

.prev2{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next2{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

.slider-outer2 img.prev2{
    margin-top: 210px;
    padding-right: 15px;
    height: 75px;
    width: 65px;
}

.slider-outer2 img.next2{
    margin-top: 220px;
    padding-left: 5px;
    height: 67px;
    width: 63px;
}


.prev2,.next2{
    float: left;
    cursor: pointer;
    margin-top: 200px;
}


.slider-outer2{
    display: flex;
    padding-left: 10px;
}

.slider-inner2 img{
    height: 300px;
    width: 500px;
    padding-top: 100px;
    display: none;
    
}

.slider-inner2 img.active2{
    display: inline-block;
}

.motor2-name{
    font-weight: bold;
    padding-top: 10px;
    padding-left: 230px;
    font-size: 18px;
}

.harga2{
    font-weight: bold;
    padding-left: 195px;
    padding-top: 7px;
    font-size: 18px;
    color: black;
}

ul.motor2des{
    color:black;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 73px;
    padding-top: 15px;
    background-color:rgb(168, 168, 168);
    margin-left: 160px;
    margin-top: 40px;
    padding-bottom: 35px;
}    




#motor3{
    margin-bottom: 50px;
    display: flex;
    padding-left: 100px;
}

.prev3{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next3{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

.slider-outer3 img.prev3{
    margin-top: 210px;
    padding-right: 15px;
    height: 75px;
    width: 65px;
}

.slider-outer3 img.next3{
    margin-top: 220px;
    padding-left: 5px;
    height: 67px;
    width: 63px;
}


.prev3,.next3{
    float: left;
    cursor: pointer;
    margin-top: 200px;
}


.slider-outer3{
    display: flex;
    padding-left: 10px;
}

.slider-inner3 img{
    width: 100%;
    padding-top: 100px;
    display: none;
    
}

.slider-inner3 img.active3{
    display: inline-block;
}

.motor3-name{
    font-weight: bold;
    padding-top: 10px;
    padding-left: 250px;
    font-size: 18px;
}

.harga3{
    font-weight: bold;
    padding-left: 225px;
    padding-top: 7px;
    font-size: 18px;
    color: black;
}

ul.motor3des{
    color:black;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 73px;
    padding-top: 15px;
    background-color:rgb(168, 168, 168);
    margin-left: 160px;
    margin-top: 45px;
    padding-bottom: 40px;
}    



.footer{
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 2rem 15rem;
}

.footer-left, .footer-right{
    color: white;
}

.footer-title{
    font-size: 30px;
    font-weight: bold;
}

.footer-detail{
    font-size: 17px;
}

.footer-detail img{
    height: 30px;
}

#copyright{
    color: black;
    background-color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

@media screen  and (max-width:500px){

    #navbar{
        font-size: 15px;
        text-align: left;
        height: 75px;
        width: 90%;
        margin-left: 0%;
    }
    
    .motor1-name{
        
        margin-left: -40px;
        font-size: 30px;
    }
   
    .harga1{
        
        font-size: 30px;
    }

    .slider1{
       
    }

    #motor1{
        display:grid;
        margin-left: -20px;
        grid-template-columns: 1fr;
    }

    .line{
        width: 60%;
        padding: 0.5rem 1rem;
    }
    ul.motor1des{
        padding: 0 1rem;
        margin-left: 0;
    }
    
    #content{
        width: 100%;
    }

    #motor2{
        display: grid;
        margin-left: -40px;
        
    }
    
    .slider2{
        padding-left: 240px;
    }

    .motor2des{
        margin-right: -150px;
        padding-left: 210px;
    }

    .motor2-name{
        padding-left: 250px;
        font-size: 30px;
    }

    .harga2{
        padding-left: 190px;
        font-size: 30px;
    }

    #motor3{
        display: grid;
    }

    .slider3{
        
    }

    .slider-inner3{
        padding-left: 50px;
    }
    .harga3{
       
      font-size: 30px;
    }

    .motor3-name{
        
        font-size: 30px;
    }

    .slider-outer3 img.prev3{
        margin-right: -100px;
    }
    .motor3des{
        margin-right: -180px;
        padding-left: 210px;
    }

    .footer{
        height: 400px;
        display: grid;
        text-align: center;
        width: 90%;
        font-size: 15px;
    }


}